{
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react-hooks/exhaustive-deps": 0,
    "import/no-named-as-default": 0,
    "import/no-named-as-default-member": 0
  }
}