.container {
  //grid-area: comments;

  background-color: lawngreen;

}

.button {
  width: 120px;
  height: 30px;
  padding: 0 2px;
  margin-left: 3px;
  background-color: darkblue;
  color: white;
}

.commentarea {
  display: flex;
  align-items: center;
}
