.product {
  margin-bottom: 10px;
  & a {
    color: black;
    text-decoration: none;
  }

  & a.active {
    color: red;
  }

  & a.hoover {
    color: blue;
  }

}

.productInfo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.productTitle {
  font-weight: bold;
}


.productDesription {
  margin-left: 50px;
}

.thumb {
  width:100px;
  height: 100px;
}

.button {
  margin-left: 5px;
  width: 60px;
  height: 20px;
}

.buttonCart {
  background-color: darkblue;
  color: white;
  font-weight: bold;
  width: 120px;
  height: 30px;
  border-radius: 20px;

  &:hover {
    background-color: blue;
  }
}


.productQuantity {
  margin-right: 10px;
}