.cart {
  display: flex;
  margin-bottom: 10px;
  & a {
    color: black;
    text-decoration: none;
  }

  & a.active {
    color: red;
  }

  & a.hoover {
    color: blue;
  }
}

.item {
  margin-left: 5px;
}