.products {

}

.header {
  margin-top: 10px;
  margin-left: 50px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.productItems {
  padding: 5px;

}

.commentItems {
  padding: 5px;

}


